<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>

<div th:each="user : ${users}">
    <div th:if="${user.role != 'ROLE_ADMIN'}">
        <a th:href="@{/task_tracker/user/{id}(id=${user.id})}" th:text="${'id: ' + user.id + '. ' + user.username}"></a>
        <p th:text="${'Позиция: ' + user.position}"></p>
        <p th:text="${'активных задач: ' + user.countTasks}"></p>
        <p th:text="${'выполненных задач:' + user.countTasksReady}"></p>
        <form th:method="GET" th:action="@{/task_tracker/user/{id}/task(id=${user.id})}">
            <input type="submit" value="add task">
        </form>
        <hr/>
    </div>

</div>

</body>
</html>
