<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>
<div th:each="user : ${users}">
    <div th:if="${user.role != 'ROLE_ADMIN'}">
        <p th:text="${'Уровень доступа: ' + user.role}"></p>
        <a th:href="@{/task_tracker/user/{id}(id=${user.id})}"
           th:text="${'id: ' + user.id + '. ' + user.username}"></a>
        <p th:text="${'Позиция: ' + user.position}"></p>
        <p th:text="${'Дата регистрации: ' + user.date}"></p>
        <br/>
        <a th:href="@{/task_tracker/delete/{id}(id = ${user.id})}">
            Удалить пользователя</a>
        <hr/>
    </div>

</div>

</body>
</html>
